/* Medium screens */
@media all and (max-width: 800px) {
    #page-content {
        min-width: 100%;
    }

    #container {
        min-width: 100%;
    }

    #signup-info {
        margin-top: 2px;
        min-width: 100%;
    }

    #login-info {
        margin-top: 2px;
        min-width: 100%;
    }

    #login-form {
        margin-top: 5%;
        max-width: 100%;
        min-width: 100%;
    }

    #signup-form {
        margin-top: 5%;
        min-width: 100%;
        max-width: 100%;
    }

    #dashboard {
        display: flex;
        flex-direction: column;
    }

    #left-panel {
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }

    #create-puzzle-from {
        display: flex;
        flex-direction: column;
        flex-grow: unset;
        margin: auto;
    }

    #create-puzzle-from > * {
        margin: auto;
        width: 100%;
    }

    #requesting-team-alert {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #logo {
        display: none;
    }
}